.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(243, 254, 255);
  height: 500px;
  padding: 100px;
  margin: 0 500px;
}

.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.TextField {
  width: 60%;
  margin: 50px 10px;
  padding: 10px;
  font-size: 16px;
}


.submit {
  margin: 10px 0px !important;
}